{% extends 'blog/base.html' %}
{% block title %}Home{% endblock title %}

{% block content %}
<h2>Posts</h2>
    <form class="form-inline my-2 my-lg-0" method="get" action="{% url 'posts:search_posts' %}">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search" >
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    {% if request.user.is_authenticated %}
        <h4><a href="{% url 'posts:post_create' %}">Add Post</a></h4>
    {% endif %}
    
    {% for post in posts  %}
        <div>
            <h3><a href="{{ post.get_absolute_url }}">{{post.title|title}}</a> {{post.published_date|date}}</h3>
            {% if request.user.is_authenticated %}
                <small><a href="{% url 'posts:post_update' post.slug %}">Edit</a></small>|<small><a href="{% url 'posts:post_delete' post.slug %}">Delete</a></small>
            {% endif %}
        </div>
    {% endfor %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock content %}

